*~

golded3/mygolded.h

bin/gedlnx
bin/gnlnx
bin/rddtlnx
golded3/bldlnx.inc
goldlib/gall/bldlnx.inc
goldlib/gcfg/bldlnx.inc
goldlib/gcui/bldlnx.inc
goldlib/glibc/bldlnx.inc
goldlib/gmb3/bldlnx.inc
goldlib/hunspell/bldlnx.inc
goldlib/smblib/bldlnx.inc
goldlib/uulib/bldlnx.inc
goldnode/bldlnx.inc
lib/
obj/
rddt/bldlnx.inc
